body{
    font-family: 'Montserrat', sans-serif !important;
}
#title {
    background-color: #ff4c68;
    color: white;
    
}
.nearby-dog{
    font-family: 'Montserrat', sans-serif;
   font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-bottom: 1rem;
   
}
.container{
    padding: 3% 15% 7%;
}
h3{
    font-family: 'Montserrat', sans-serif !important;
}
.navbar {
    padding: 0 0 3rem 0 !important;
}
.nav-item{
    padding: 0 16px ;
}
.nav-link{
    font-size: 1.3rem;
    font-weight: 300;
}
.download-button{
    margin: 0 1% 0;
}
.title-image{
    width: 60%;
    transform: rotate(23deg);
    position: absolute;
    right: 18%;
   
    
    
}
@media (max-width: 991px){
    .title-align {
        text-align: center;
    }
    .title-image{
        width: 60%;
        position: static;
        transform: rotate(0);
        margin: 0 0 -60px 80%;
        padding-top: 60px;
      
    }
    .nearby-dog{
        font-size: 2.5rem;
        font-weight: 800;
    }
}

/* Feature Box */
#features {
    padding: 8% 14%;
    background-color: #fff;
    position: relative;
    
}
.feauture-box {
    text-align: center;
}
.feature-icon {
    margin-bottom: 1.5rem !important;
    color:  #e94b73 ;
}
.feature-icon:hover {
    color: #e4063e;
}
h3{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
}
p{
    color: #8f8f8f;
    
}
@media (max-width: 1028px){
    #features {
        padding: 10% 15%;
    }
    .feauture-box {
        margin: 5% 0;
    }
}
/* Testimonial Section */

#testimonials{
    background-color: #ff4c68 ;
    color: #fff;
    text-align: center;
    
}
h2{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900 !important;
    font-size: 3rem !important;
    line-height: 1.5 !important;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 2% 2% 0;
}
#press {
    background-color: #ff4c68;
    text-align: center;
    padding:2% 0 0;

}
.press-image{
    
    margin: 4% 2%;
}
.carousel-item{
    padding:7% 15% 2%;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}
.card-colum {
    padding: 3% 4% 0;
}
/* Call to Action */
#cta {
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 6% 15% 7%;
}
.cta-h3{
    font-size: 3rem;
    font-weight: 900 !important;
    line-height: 1.5;
}
.cta-button{
    margin: 3% 1% 0;
}

/* Footer */
#footer {
    text-align: center;
    margin: 3% 2%;
}
.footer-icon{
    margin: 2% 1%;
   
}
.twitter:hover{
    color: #00acee;
}
.facebook:hover{
    color: #3B5998;
}
.instagram:hover{
    color: rgb(233, 89, 80);
}
.envelop:hover{
    color: #FBBC05;
}